@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.App {
  text-align: center;
}

.title {
  color: #146C94;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 100px 25px 50px #7DEDFF;  
  margin: 30px 0 15px 0 ;
}
